<ion-view title="Lessons">
    <ion-nav-buttons side="right">
        <button class="right button button-icon icon ion-plus" ui-sref="lesson"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list show-delete="false" can-swipe="true">
            <ion-item ng-repeat="(key, value) in lessons" ui-sref="lesson({lessonId: key})">
                {{value.title}}
                <ion-option-button class="button-assertive icon ion-trash-a" ng-click="delete(value._id, value._rev)"></ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
